{% extends "finance/base.html" %}

{% block title %}
    Главная - Управление финансами
		<br>
		Ваш Бюджет
{% endblock %}

{% block header %}
    Главная Страница по управлению финансами
{% endblock header %}  

{% block content %}
<h2>Финансовое управление</h2>

    <!-- Секция транзакций -->
    <div class="transactions-section">
        <button id="add-transaction-btn">
            Добавить транзакцию
        </button>
        <div id="transaction-form-container" style="display: none;">
            <form method="POST" action="{% url 'add_transaction' %}">
                {% csrf_token %}
                {{ form.as_p }} 
                <button type="submit">
                    Сохранить транзакцию
                </button>
            </form>
        </div>
    </div>

    <!-- Секция бюджета -->
    <div class = "budget-section">
			<h3>Ваш Бюджет</h3>
			{% if budget %}
					<p>Текущий бюджет: <strong>{{ budget.amount }}  ₽</strong> (Категория: {{ budget.category }})</p>
			{% else %}
					<p>Бюджет пока не задан</p>
			{% endif %}

			<form method='POST', action="{% url 'home' %}">
				{% csrf_token %}
				{{ budget_form.as_p }}
				<button type="submit" name="save_budget">
					{% if budget  %}Изменить{% else %}Добавить{% endif %}бюджет
				</button>
			</form>
		</div>

		<!-- Список транзакций -->
    <h3>Последние транзакции</h3>
		<ul>
				{% for transactions in transaction  %}
					<li>{{ transactions.date }}: {{ transactions.amount }} ₽ - {{ transactions.category }}</li>
				{% empty %}
				<li>Нет транзакций</li>
				{% endfor %}
		</ul>

<a href="{% url 'completed_finance' %}">Мои транзакции</a>

{% endblock content %}

{% block scripts %}
    <!-- Скрипт для отображения формы транзакций -->
    <script>
        document.getElementById("add-transaction-btn").addEventListener("click", function() {
            document.getElementById("transaction-form-container").style.display = "block";
        });
    </script>

    <!-- Скрипт для отображения формы бюджета -->
    <script>
        document.getElementById("add-budget-btn").addEventListener("click", function() {
            document.getElementById("budget-form-container").style.display = "block";
        });
    </script>
{% endblock scripts %}