{% extends "finance/base.html" %}

{% block title %}Главная - Управление финансами{% endblock %}

{% block header %} Главная Страница по управлению финансами {% endblock header %}  

{% block content %}
<div class="transactions-section">
	<button id="add-transaction-btn">Добавить транзакцию</button>

	<div id="transaction-form-container" style="display: none;">
		<form method='POST' action="{% url 'add_transaction' %}">
			{% csrf_token %}
			{{ form.as_p }} 
			<button type="submit">Сохранить транзакцию</button>
		</form>
	</div>
</div>

<a href="{% url 'completed_finance' %}">Мои транзакции</a>

{% endblock content %}

{% block scripts %}
<script>
	document.getElementById("add-transaction-btn").addEventListener("click", function() {
			document.getElementById("transaction-form-container").style.display = "block";
	});
</script>
{% endblock scripts %}

